.mainContainer2{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #3F204E 0%, #15001F 56.02%, #030110 100%);

}


.navbarholder{
    height: 70px;
}

.topcontainer{
    padding-top: 10px;
    height: 90vh;
    background-image: url('./l2images/bgfull.png');
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    /* width: 100%; */
}

.positiontopImages{
    padding-top: 2%;
    /* padding-left: 30px;
    padding-right: 30px; */
    width: 90%;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    background-image: url('./l2images/bg1.png'), url('./l2images/bg2.png');
    background-repeat: no-repeat, no-repeat;
    background-position: left,right;
    background-size:40% 100%,30% 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    /* background-color: gray; */
}

.topbigtxt-1{
    font-family: Inter;
    font-size: 65px;
    font-weight: 600;
    line-height: 79px;
    letter-spacing: 0em;
    text-align: center;
    background: linear-gradient(91.18deg, #B625FD -46.05%, #FF99DC 48.59%, #FA48B6 159.63%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.topbigtxt-2{
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.1em;
    text-align: center;
    background: linear-gradient(91.18deg, #B625FD -46.05%, #FF99DC 48.59%, #FA48B6 159.63%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.topform-container{
    margin-top: 60px;
    width: 34%;
    height: 40%;
    min-width: 370px;
    min-height: 236px;
    align-self: center;
    padding: 20px;
    border-radius: 8px;
    gap: 5px;
    background: rgba(3, 1, 16, 0.3);
    display: flex;
    flex-direction: column;
}

.tp-1{
    /* background-color: gray; */
    height: 70%;
    display: flex;
    flex-direction: row;
}

.choose-1{
    flex:1;
    color: white;
    font-size: 18px;
    font-family: Inter;
    /* background-color: #030110; */
}

.selfOthers{
    margin-bottom: 20px;
}

.row-choose{
    display: flex;
    flex-direction: row;
    background: rgba(255, 161, 224, 0.24);
    margin: 4px;
    padding: 12px 10px;
    border-radius: 6px;
}

.radiobutton{
    width: 17px;
    height: 17px;
    margin-right: 10px;
}

.tp-2{
    /* background-color: blue; */
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tp-2 button{
    width: 80%;
    height: 100%;
    background: linear-gradient(91.09deg, #B625FD -1.49%, #FF99DC 55.26%, #FA48B6 99.69%);
    color: white;
    font-family: Inter;
    font-size: 24px;
    border-radius: 30px;
    border-width: 0px;
}


.dwnbtn-section{
    height: 40vh;
    /* background: #15001F33; */
    /* background: linear-gradient(180deg, #3F204E 0%, #15001F 56.02%); */
    padding: 0px 50px;
    

    /* background: rgba(21, 0, 31, 0.2); */

}

.rowbtns-2{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dnwbtn-2{

    width: 339px;
    height: 88px;
    padding: 8px 20px 8px 20px;
    border-radius: 8px;
    gap: 10px;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    border-width: 0px;
}

.gplay-2{
    height: 80%;
}
.apic-2{
    height: 80%;
}

.b1-1{
    margin-right: 10px;
}
.b2-2{
    margin-left: 10px;
}

.inbtncl-2{
    display: flex;
    flex-direction: column;
    color: white;
    /* background-color: gray; */
    /* width: 120px; */
    align-items: flex-start;
}

.btnsm-2{
    color: #D9D6D6;
    font-size: 19px;
}

.btnbd-2{
    font-size: 29px;
}

.below-dwnbtns{
    color: white;
    font-family: Inter;
    display: flex;
    flex-direction: row;
    margin-top: 40px;

}

.btgTrip{
    font-size: 45px;
    font-weight: 600;
    background: linear-gradient(90deg, #B625FD 0%, #FFA2E0 52.61%, #F7119B 107.48%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.smallWritupz{
    margin-top: 14px;
    margin-left: 40px;
    font-size: 18px;
}


.thirdpic-section{
    height: 100vh;
    /* background-color: gray; */
    
}

.flex-imgs-txts{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.all-images-holder{
    position: relative;
    /* background-color: green; */
}

.image-h1{
    position: absolute;
    /* background-color: red; */
    width: 36vw;
    height: 94%;
    left: 50px;
    top: -36px;
    border-radius: 16px;

    /* width:541.5px ;
    height:676.5px ; */

    /* width: 361.0971984863281px;
    height: 451px; */
}

.image-h2{
    position: absolute;
    /* background-color: green; */
    width: 24.9vw;
    height: 51.898%;
    left: 50px;
    margin-top: calc(94vh /7);
    margin-left: calc(18vw);

    /* width:375px ;
    height:375.5px ; */

    /* top: -36px; */
    border-radius: 16px;
    /* width: 250px;
    height: 249px; */
}

.image-h3{
    position: absolute;
    position: absolute;
    /* background-color: yellow; */
    width: 20vw;
    height: 10vh;
    left: 50px;
    margin-top: calc(94vh / 4);
    margin-left: calc(26vw);
}

.image-h4{
    position: absolute;
    /* background-color: blue; */
    width: 20vw;
    /* height: 10vh; */
    left: 50px;
    margin-top: calc(94vh / 2.75);
    margin-left: calc(25vw);

    font-family: Inter;
    font-size: 24px;
    color: white;
    font-weight: 600;
}

.zero-pg{
    font-weight: 800;
    background: rgba(255, 153, 220, 1);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.image-h5{
    position: absolute;
    /* background-color: yellow; */
    width: 8vw;
    height: 8%;
    left: 50px;
    bottom: 50px;
    /* margin-top: calc(94 / 1.098); */
    margin-left: calc(20vw);
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    gap: 1px;
}

.arrbt1{
    /* background-color: green; */
    background: rgba(246, 17, 155, 0.5);
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.arr-ow{
    flex: 0.6;
}

.right-txt-container{
    /* background-color: brown; */
    width: 50%;
    height: 100%;
    padding: 0px 20px;
    padding-top: 24vh;
}

.chilAdven{
    font-family: Inter;
    font-size: 65px;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: -0.02em;
    text-align: center;
    color: white;

}

.chillAd2{
    margin-top: 8vh;
    font-family: Inter;
    font-size: 24px;
    color: white;
    padding: 0px 20px;
}

.chill-btn{
    margin-top: 30px;
    /* background-color: blue; */
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chill-btn button{
    /* width: 60%;
    height: 100%; */
    background: linear-gradient(91.09deg, #B625FD -1.49%, #FF99DC 55.26%, #FA48B6 99.69%);
    color: white;
    font-family: Inter;
    font-size: 24px;
    border-radius: 30px;
    border-width: 0px;

    width: 322px;
    height: 51px;
}

.fourth-section{
    height: 160vh;
    /* text-align: center; */
    font-family: Inter;
    color: white;
    /* background-color: darkgray; */
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ab-us{
    font-size: 70px;
    font-weight: 800;
    background: linear-gradient(90deg, #B625FD 0%, #FFA2E0 52.61%, #F7119B 107.48%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* line-height: 54px; */
    letter-spacing: 0em;
    text-align: center;

}

.ab-us-fulltxt{
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: center;
}

.ly-images{
    margin-top: 60px;
    width: 40%;
    height: 50%;
    /* background-color: #B625FD; */
    position: relative;

}

.ly-img-1{
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
    position: absolute;
}

.ly-img-2{
    top: -20px;
    right: -10%;
    width: 20%;
    height: calc(100% + 40px);
    /* background-color: green; */
    /* opacity: 0.6; */
    position: absolute;
}

.ly-img-3{
    width: 20%;
    height: 10%;
    margin-top: 32%;
    left: -10%;
    /* background-color: blue; */
    position: absolute;
}

.chill-btn-2{
    margin-top: 30px;
    /* background-color: blue; */
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chill-btn-2 button{
    /* width: 60%;
    height: 100%; */
    background: linear-gradient(91.09deg, #B625FD -1.49%, #FF99DC 55.26%, #FA48B6 99.69%);
    color: white;
    font-family: Inter;
    font-size: 24px;
    border-radius: 30px;
    border-width: 0px;

    width: 322px;
    height: 51px;
}

.fifth-section{
    height: 160vh;
    margin-bottom: 40px;
}

.pp-tts{
    background: linear-gradient(90deg, #B625FD 0%, #FFA2E0 52.61%, #F7119B 107.48%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 70px;
    font-family: Inter;
    font-weight: 600;
    text-align: center;
}

.cards-wrapper{
    width: 100%;
    height: 48%;
    /* background-color: gray; */
    padding: 40px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.card-container{
    width: 28%;
    height: 100%;
    /* background-color: blue; */
    box-shadow: -2px 2px 100px 0px rgba(255, 161, 224, 0.05) inset;

    margin: 0px 10px;
    border-radius: 18px;
    position: relative;
    padding: 1rem;
}

.quoies-img{
    position: absolute;
    width: 5%;
    height: 5%;
    /* background-color: yellow; */
}

.details-container{
    position: absolute;
    width: 86%;
    height: 86%;
    top: 9%;
    left: 8% ;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
}

.plenty-card-txt{
    font-size: 22px;
    font-family: Inter;
    color: white;
    
}

.card-box{
    /* background-color: darkred; */
    width: 100%;
    height: 18%;
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-box-img{
    /* background-color: goldenrod; */
    height: 100%;
    width: 24%;
    border-radius: 8px;

}

.card-box-txt{
    width: 75%;
    height: 60%;
    margin: 0px 4px;
    /* background-color: #FA48B6; */
}

.card-box-txt p{
    font-family: Inter;
    font-size: 18px;
    color: white;
    font-weight: 600;
}

@media only screen and (max-width: 1496px) {
    .plenty-card-txt{
        font-size: 20px;
    }
}

@media only screen and (max-width: 1466px) {
    .plenty-card-txt{
        font-size: 18px;
    }
}

@media only screen and (max-width: 1296px) {
    .thirdpic-section{
        height: 80vh;
        /* background-color: green; */
    }
}

@media only screen and (max-width: 1250px) {
    .thirdpic-section{
        height: 60vh;
        /* background-color: green; */
    }

    .image-h3{
        height: 4vh;
        margin-top: calc(92vh / 4.8);
    }
    
    .image-h4{
        margin-top: calc(92vh / 4);
        font-size: 24px;
    }

    .right-txt-container{
        padding-top: 8vh;
    }

    .chillAd2{
        margin-top: 4vh;
        font-family: Inter;
        font-size: 24px;
        color: white;
        padding: 0px 20px;
    }

    .fourth-section{
        height: 140vh;
    }
    .fifth-section{
        height: 120vh;
    }
    /* .cards-wrapper{
        height: 38%;
    } */

    .plenty-card-txt{
        font-size: 16px;
    }

    .card-box-txt p{
        font-size: 16px;
    }
}

@media only screen and (max-width: 1057px) {
    .thirdpic-section{
        /* background-color: orange; */
    }
}

@media only screen and (max-width: 1004px) {
    .thirdpic-section{
        height: 50vh;
    }

    .chilAdven{
        font-size: 58px;
    }

    .chillAd2{
        font-size: 18px;
    }
}

