header{
    background-color: #D299FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    position: fixed;
    width: 100%;
    /* box-shadow: 0 8px 6px -6px #414a4c; */
    z-index: 10;
}

.bar-logo{
    width: 107px;
    height: 31px;
    margin-left: 50px;

}

