@font-face {
  font-family: "Tokyo";   /*Can be any text*/
  src: local("ZenTokyoZoo-Regular"),
    url("./fonts/ZenTokyoZoo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Robot";   /*Can be any text*/
  src: local("Roboto-Regular"),
    url("./fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";   /*Can be any text*/
  src: local("Inter-Regular"),
    url("./fonts/Inter-Regular.ttf") format("truetype");
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: white;
  }
